.vs
labs/Solutions/Lab1/bin/*
labs/Solutions/Lab1/obj/*
labs/Solutions/Lab2/bin/*
labs/Solutions/Lab2/obj/*
labs/Solutions/Common/bin/*
labs/Solutions/Common/obj/*
labs/Solutions/Tests/bin/*
labs/Solutions/Tests/obj/*