.vs
labs/Solutions/Lab1/bin/*
labs/Solutions/Lab1/obj/*
labs/Solutions/Lab2/bin/*
labs/Solutions/Lab2/obj/*
labs/Solutions/Lab3/bin/*
labs/Solutions/Lab3/obj/*
labs/Solutions/Lab4/bin/*
labs/Solutions/Lab4/obj/*
labs/Solutions/Lab5/bin/*
labs/Solutions/Lab5/obj/*
labs/Solutions/Lab6/bin/*
labs/Solutions/Lab6/obj/*
labs/Solutions/Common/bin/*
labs/Solutions/Common/obj/*
labs/Solutions/Tests/bin/*
labs/Solutions/Tests/obj/*